TYPO3:
  TYPO3CR:
    Search:

      elasticSearch:

        # API. name of the ElasticSearch index to use
        indexName: typo3cr

        # configuration of the ElasticSearch logfile
        log:
          backendOptions:
            fileBackend:
              logFileURL: '%FLOW_PATH_DATA%Logs/ElasticSearch.log'
              createParentDirectories: TRUE
              severityThreshold: '%LOG_DEBUG%'
              maximumLogFileSize: 10485760
              logFilesToKeep: 1
              logMessageOrigin: FALSE

            ansiConsoleBackend:
              disableAnsi: false

      defaultConfigurationPerType:

        string:
          elasticSearchMapping:
            type: string
            include_in_all: false

        boolean:
          elasticSearchMapping:
            type: boolean

        integer:
          elasticSearchMapping:
            type: integer

        date:
          elasticSearchMapping:
            type: date
            format: 'date_time_no_millis'
            include_in_all: false


        'TYPO3\Media\Domain\Model\Video':
          elasticSearchMapping: '' # deliberately don't map or index this

        'TYPO3\Media\Domain\Model\ImageVariant':
          elasticSearchMapping: '' # deliberately don't map or index this

        'references':
          elasticSearchMapping:
            type: string # an array of strings, to be precise
            index: not_analyzed

        'reference':
          elasticSearchMapping:
            type: string
            index: not_analyzed